.fx-section--support[_ngcontent-sc94] {
  padding: 0 0 2rem;
}
.fx-section--support[_ngcontent-sc94] .floating-panel[_ngcontent-sc94] {
  position: fixed;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 15;
  flex-direction: column;
  transition: all 0.2s ease-in;
  align-items: center;
}
@media (min-width: 480px) {
  .fx-section--support[_ngcontent-sc94] .floating-panel[_ngcontent-sc94] {
    right: 20px;
  }
  [lang="tw"][_nghost-sc94]
    .fx-section--support[_ngcontent-sc94]
    .floating-panel[_ngcontent-sc94],
  [lang="tw"]
    [_nghost-sc94]
    .fx-section--support[_ngcontent-sc94]
    .floating-panel[_ngcontent-sc94] {
    top: 55%;
  }
}
.fx-section--support[_ngcontent-sc94]
  .floating-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94] {
  font-size: 11px;
  line-height: 1.1;
  min-width: 60px;
  height: 60px;
  border-radius: 4px 0 0 4px;
  padding: 5px;
  text-align: center;
  opacity: 1;
  transition: all 0.2s ease-in;
}
.fx-section--support[_ngcontent-sc94]
  .floating-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94]
  .icon[_ngcontent-sc94] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  font-size: 31px;
  margin: 0 auto 4px;
}
.fx-section--support[_ngcontent-sc94]
  .floating-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94]
  .icon.fx-symbol-feedback[_ngcontent-sc94] {
  font-size: 25px;
}
.fx-section--support[_ngcontent-sc94]
  .floating-panel[_ngcontent-sc94]
  .btn-faq-icon[_ngcontent-sc94] {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b68756;
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  font-style: normal;
  transition: box-shadow 0.2s;
}
.fx-section--support[_ngcontent-sc94]
  .floating-panel[_ngcontent-sc94]
  .btn-faq-text[_ngcontent-sc94] {
  display: inline-block;
  padding: 2px 5px;
  margin-top: 5px;
  max-width: 75px;
  min-width: 40px;
  background: #b6885633;
  border-radius: 18px;
  font-family: Inter, Segoe UI, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  color: #b68756;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: box-shadow 0.2s, opacity 0.2s;
}
.fx-section--support[_ngcontent-sc94]
  .floating-panel[_ngcontent-sc94]:hover
  .btn-faq-icon[_ngcontent-sc94] {
  box-shadow: 0 6px 10px 0 #00000040;
}
.fx-section--support[_ngcontent-sc94]
  .floating-panel[_ngcontent-sc94]:hover
  .btn-faq-text[_ngcontent-sc94] {
  box-shadow: 0 6px 10px 0 #00000040;
  opacity: 1;
}
.fx-section--support[_ngcontent-sc94] .static-panel[_ngcontent-sc94] {
  position: relative;
  z-index: 13;
  opacity: 1;
  text-align: center;
}
.fx-section--support[_ngcontent-sc94]
  .static-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94] {
  font-size: 22px;
  line-height: 1.2;
  line-height: 112%;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f8f2ec;
  box-shadow: none;
  transition: none;
}
.fx-section--support[_ngcontent-sc94]
  .static-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94]:hover {
  box-shadow: none;
  transition: none;
}
@media (min-width: 480px) {
  .fx-section--support[_ngcontent-sc94]
    .static-panel[_ngcontent-sc94]
    .btn[_ngcontent-sc94] {
    justify-content: center;
  }
  .fx-section--support[_ngcontent-sc94]
    .static-panel[_ngcontent-sc94]
    .btn[_ngcontent-sc94]
    br {
    display: none;
  }
}
.fx-section--support[_ngcontent-sc94]
  .static-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94]
  a[_ngcontent-sc94],
.fx-section--support[_ngcontent-sc94]
  .static-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94]
  a[_ngcontent-sc94]:focus,
.fx-section--support[_ngcontent-sc94]
  .static-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94]
  a[_ngcontent-sc94]:hover {
  color: #2d3436;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}
.fx-section--support[_ngcontent-sc94]
  .static-panel[_ngcontent-sc94]
  .btn[_ngcontent-sc94]
  strong {
  text-decoration: underline;
  color: #b68756;
  font-weight: 700;
}
.qr-popup[_ngcontent-sc94] {
  padding: 5px;
  background: #f8f3f3;
  border-radius: 100px;
  margin-bottom: 5px;
}
@media (max-width: 1023.98px) {
  .qr-popup[_ngcontent-sc94] {
    margin: 0 auto 20px;
    max-width: 140px;
  }
}
.qr-popup[_ngcontent-sc94] .buttons-holder[_ngcontent-sc94] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 1023.98px) {
  .qr-popup[_ngcontent-sc94] .buttons-holder[_ngcontent-sc94] {
    flex-direction: row;
  }
}
.qr-popup[_ngcontent-sc94]
  .buttons-holder[_ngcontent-sc94]
  .btn-qr[_ngcontent-sc94],
.qr-popup[_ngcontent-sc94]
  .buttons-holder[_ngcontent-sc94]
  .btn-qr[_ngcontent-sc94]:focus {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
}

.fx-section--columns-gradient[_ngcontent-sc389],
.platforms-sub-info[_ngcontent-sc389] {
  background: none;
}
.fx-section--columns-gradient[_ngcontent-sc389] .column-info[_ngcontent-sc389],
.platforms-sub-info[_ngcontent-sc389] .column-info[_ngcontent-sc389] {
  padding: 1rem 0 2rem;
  position: relative;
}
@media (min-width: 1024px) {
  .fx-section--columns-gradient[_ngcontent-sc389]
    .column-info[_ngcontent-sc389],
  .platforms-sub-info[_ngcontent-sc389] .column-info[_ngcontent-sc389] {
    padding: 3rem 0 0;
  }
}
.fx-section--columns-gradient[_ngcontent-sc389]
  .column-info[_ngcontent-sc389]:before,
.platforms-sub-info[_ngcontent-sc389] .column-info[_ngcontent-sc389]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(90deg, #e64747, #0984e3 390%);
}
@media (min-width: 1024px) {
  .fx-section--columns-gradient[_ngcontent-sc389]
    .column-info[_ngcontent-sc389]:before,
  .platforms-sub-info[_ngcontent-sc389] .column-info[_ngcontent-sc389]:before {
    background: linear-gradient(90deg, #e64747, #b3556b);
  }
}
.fx-section--columns-gradient[_ngcontent-sc389]
  .column-info[_ngcontent-sc389]
  h2[_ngcontent-sc389],
.platforms-sub-info[_ngcontent-sc389]
  .column-info[_ngcontent-sc389]
  h2[_ngcontent-sc389] {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .fx-section--columns-gradient[_ngcontent-sc389]
    .column-info[_ngcontent-sc389]
    h2[_ngcontent-sc389],
  .platforms-sub-info[_ngcontent-sc389]
    .column-info[_ngcontent-sc389]
    h2[_ngcontent-sc389] {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
.fx-section--columns-gradient[_ngcontent-sc389]
  .column-info[_ngcontent-sc389]
  h2.text-size-h4[_ngcontent-sc389],
.platforms-sub-info[_ngcontent-sc389]
  .column-info[_ngcontent-sc389]
  h2.text-size-h4[_ngcontent-sc389] {
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .fx-section--columns-gradient[_ngcontent-sc389]
    .column-info[_ngcontent-sc389]
    h2.text-size-h4[_ngcontent-sc389],
  .platforms-sub-info[_ngcontent-sc389]
    .column-info[_ngcontent-sc389]
    h2.text-size-h4[_ngcontent-sc389] {
    font-size: 24px;
  }
}
.fx-section--columns-gradient[_ngcontent-sc389]
  .column-info[_ngcontent-sc389]
  p[_ngcontent-sc389]:last-child,
.platforms-sub-info[_ngcontent-sc389]
  .column-info[_ngcontent-sc389]
  p[_ngcontent-sc389]:last-child {
  margin: 0;
}
.fx-section--columns-gradient[_ngcontent-sc389] .info-text[_ngcontent-sc389],
.platforms-sub-info[_ngcontent-sc389] .info-text[_ngcontent-sc389] {
  margin-bottom: 20px;
  color: #636e72;
}
@media (min-width: 1024px) {
  .fx-section--columns-gradient[_ngcontent-sc389] .info-text[_ngcontent-sc389],
  .platforms-sub-info[_ngcontent-sc389] .info-text[_ngcontent-sc389] {
    margin-bottom: 1.6rem;
    margin-top: 1.5rem;
  }
  .fx-section--columns-gradient[_ngcontent-sc389]
    [class^="col-"][_ngcontent-sc389]:nth-child(2)
    .column-info[_ngcontent-sc389]:before,
  .platforms-sub-info[_ngcontent-sc389]
    [class^="col-"][_ngcontent-sc389]:nth-child(2)
    .column-info[_ngcontent-sc389]:before {
    background: linear-gradient(90deg, #ad576f, #7a6593);
  }
  .fx-section--columns-gradient[_ngcontent-sc389]
    [class^="col-"][_ngcontent-sc389]:nth-child(3)
    .column-info[_ngcontent-sc389]:before,
  .platforms-sub-info[_ngcontent-sc389]
    [class^="col-"][_ngcontent-sc389]:nth-child(3)
    .column-info[_ngcontent-sc389]:before {
    background: linear-gradient(90deg, #756697, #4374bb);
  }
}
.fx-section--columns-gradient[_ngcontent-sc389]
  [class^="col-"][_ngcontent-sc389]:nth-child(4)
  .column-info[_ngcontent-sc389],
.platforms-sub-info[_ngcontent-sc389]
  [class^="col-"][_ngcontent-sc389]:nth-child(4)
  .column-info[_ngcontent-sc389] {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .fx-section--columns-gradient[_ngcontent-sc389]
    [class^="col-"][_ngcontent-sc389]:nth-child(4)
    .column-info[_ngcontent-sc389]:before,
  .platforms-sub-info[_ngcontent-sc389]
    [class^="col-"][_ngcontent-sc389]:nth-child(4)
    .column-info[_ngcontent-sc389]:before {
    background: linear-gradient(90deg, #3c76bf, #2893e7);
  }
}
.fx-theme--dark[_ngcontent-sc389] {
  color: #b2bec3;
}
.fx-theme--light[_ngcontent-sc389] .column-info[_ngcontent-sc389]:before {
  background-image: linear-gradient(90deg, #55efc4, #44dfdc);
}
.fx-theme--light[_ngcontent-sc389]
  [class^="col-"][_ngcontent-sc389]:nth-child(2)
  .column-info[_ngcontent-sc389]:before {
  background-image: linear-gradient(90deg, #44dfdc, #21a9e1);
}
.fx-theme--light[_ngcontent-sc389]
  [class^="col-"][_ngcontent-sc389]:last-child
  .column-info[_ngcontent-sc389]:before {
  background-image: linear-gradient(90deg, #21a9e1, #0985e3);
}
[lang="ar"] .fx-section--columns-gradient:before,
[lang="ar"] .platforms-sub-info:before {
  background-image: linear-gradient(270deg, #d63031, #af4a64);
}
[lang="ar"]
  .fx-section--columns-gradient
  [class^="col-"]:nth-child(2)
  .column-info:before,
[lang="ar"]
  .platforms-sub-info
  [class^="col-"]:nth-child(2)
  .column-info:before {
  background-image: linear-gradient(270deg, #af4a64, #516cae);
}
[lang="ar"]
  .fx-section--columns-gradient
  [class^="col-"]:last-child
  .column-info:before,
[lang="ar"] .platforms-sub-info [class^="col-"]:last-child .column-info:before {
  background-image: linear-gradient(270deg, #516cae, #0984e3);
}
[lang="ar"] .fx-theme--light .column-info:before {
  background-image: linear-gradient(270deg, #44dfdc, #55efc4);
}
[lang="ar"] .fx-theme--light [class^="col-"]:nth-child(2) .column-info:before {
  background-image: linear-gradient(270deg, #44dfdc, #21a9e1);
}
[lang="ar"] .fx-theme--light [class^="col-"]:last-child .column-info:before {
  background-image: linear-gradient(270deg, #21a9e1, #0985e3);
}

.fx-section--economic-calendar[_ngcontent-sc389]
  .table-calendar[_ngcontent-sc389] {
  border-radius: 12px;
  padding-top: 20px;
  border: 1px solid #eaeef1;
}
.fx-section--economic-calendar[_ngcontent-sc389] .date-label[_ngcontent-sc389] {
  text-transform: uppercase;
  font-weight: 500;
}
.fx-section--economic-calendar[_ngcontent-sc389] .table[_ngcontent-sc389] {
  width: 100%;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  tr[_ngcontent-sc389] {
  border-top: 1px solid #eaeef1;
  border-bottom: 1px solid #eaeef1;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  th[_ngcontent-sc389] {
  padding: 18px 5px;
  color: #b2bec3;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  th[_ngcontent-sc389]:nth-child(3) {
  white-space: nowrap;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  td[_ngcontent-sc389] {
  padding: 13px 5px;
  line-height: 22px;
  vertical-align: middle;
  color: #2d3436;
  font-size: 0.875rem;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  td[_ngcontent-sc389]:first-child {
  width: 24px;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  td[_ngcontent-sc389]:last-child {
  padding: 13px 10px 13px 0;
}
[dir="rtl"][_nghost-sc389]
  .fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  td[_ngcontent-sc389]:last-child,
[dir="rtl"]
  [_nghost-sc389]
  .fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  td[_ngcontent-sc389]:last-child {
  padding: 13px 0 13px 10px;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .collapsed[_ngcontent-sc389] {
  display: none;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .collapsed[_ngcontent-sc389]
  td[_ngcontent-sc389] {
  vertical-align: top;
  padding: 25px 5px;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .bullet[_ngcontent-sc389] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fed892;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .arrow[_ngcontent-sc389] {
  color: #b2bec3;
  transition: all 0.4s;
}
[dir="rtl"][_nghost-sc389]
  .fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .arrow[_ngcontent-sc389]:before,
[dir="rtl"]
  [_nghost-sc389]
  .fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .arrow[_ngcontent-sc389]:before {
  content: "";
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .open[_ngcontent-sc389]
  .arrow[_ngcontent-sc389] {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  display: block;
}
[dir="rtl"][_nghost-sc389]
  .fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .open[_ngcontent-sc389]
  .arrow[_ngcontent-sc389]:before,
[dir="rtl"]
  [_nghost-sc389]
  .fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .open[_ngcontent-sc389]
  .arrow[_ngcontent-sc389]:before {
  transform: rotate(90deg);
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .open.collapsed[_ngcontent-sc389] {
  display: table-row;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .open.collapsed[_ngcontent-sc389]
  td[_ngcontent-sc389] {
  padding: 25px 10px 25px 29px;
}
@media (max-width: 1023.98px) {
  .fx-section--economic-calendar[_ngcontent-sc389]
    .table[_ngcontent-sc389]
    .hide-on-mobile[_ngcontent-sc389] {
    display: none;
  }
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .time-title[_ngcontent-sc389] {
  text-transform: uppercase;
  color: #84949a;
  font-size: 12px;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .time[_ngcontent-sc389] {
  font-size: 12px;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .country[_ngcontent-sc389] {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .country[_ngcontent-sc389]
  i[_ngcontent-sc389] {
  top: 0;
  margin-right: 6px;
}
.fx-section--economic-calendar[_ngcontent-sc389]
  .table[_ngcontent-sc389]
  .flag.flag-us[_ngcontent-sc389] {
  background-position: -34px -486px;
}

@media (min-width: 1024px) {
  .filter-form {
    padding: 0 24px;
  }
  .filter-form [class*="col-"] {
    padding: 0 10px;
  }
}
.filter-form .form-field-md {
  line-height: 1;
}
.filter-form .dr-custom.mat-form-field .mat-form-field-wrapper {
  margin-bottom: 0;
}
.filter-form .dr-custom.mat-form-field.gray .mat-form-field-outline {
  background-color: #f9fafb;
}
.filter-form ::ng-deep .form-field-md {
  line-height: 1;
}
.filter-form .btn-outline {
  height: 45.7px;
}
.filter-form .mat-date-range-input input[type="text"] {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: initial;
  border: 0 #0000;
  padding: 0;
}
.filter-form .mat-date-range-input input[type="text"].ng-touched.ng-invalid {
  box-shadow: none;
  border-color: #0000;
}
.filter-form
  .mat-date-range-input
  input[type="text"].ng-touched.ng-invalid::placeholder {
  color: #ed1c24;
  opacity: 1;
}
.filter-form
  .mat-date-range-input
  input[type="text"].ng-touched.ng-invalid:-ms-input-placeholder {
  color: #ed1c24;
}
.filter-form
  .mat-date-range-input
  input[type="text"].ng-touched.ng-invalid::-ms-input-placeholder {
  color: #ed1c24;
}
.filter-form .mat-date-range-input input[type="text"]:focus {
  box-shadow: none;
}
.filter-form .mat-date-range-input-mirror {
  position: absolute;
  top: 0;
  left: 0;
}
.filter-form .mat-date-range-input-start-wrapper {
  max-width: 80px;
}
.filter-form
  .mat-date-range-input-start-wrapper
  input[type="text"].mat-date-range-input-inner {
  position: relative;
}

<style ng-transition="ng-cli-universal" > .mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}
[dir="rtl"] .mat-form-field {
  text-align: right;
}
.mat-form-field-wrapper {
  position: relative;
}
.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}
.mat-form-field-prefix,
.mat-form-field-suffix {
  white-space: nowrap;
  flex: none;
  position: relative;
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}
.cdk-high-contrast-active .mat-form-field-infix {
  border-image: linear-gradient(transparent, transparent);
}
.mat-form-field-label-wrapper {
  position: absolute;
  left: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
[dir="rtl"] .mat-form-field-label-wrapper {
  left: auto;
  right: 0;
}
.mat-form-field-label {
  position: absolute;
  left: 0;
  font: inherit;
  pointer-events: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform-origin: 0 0;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    width 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  display: none;
}
[dir="rtl"] .mat-form-field-label {
  transform-origin: 100% 0;
  left: auto;
  right: 0;
}
.mat-form-field-empty.mat-form-field-label,
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  display: block;
}
.mat-form-field-autofill-control:-webkit-autofill
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  display: none;
}
.mat-form-field-can-float
  .mat-form-field-autofill-control:-webkit-autofill
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  display: block;
  transition: none;
}
.mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label,
.mat-input-server[placeholder]:not(:placeholder-shown)
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  display: none;
}
.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label,
.mat-form-field-can-float
  .mat-input-server[placeholder]:not(:placeholder-shown)
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  display: block;
}
.mat-form-field-label:not(.mat-form-field-empty) {
  transition: none;
}
.mat-form-field-underline {
  position: absolute;
  width: 100%;
  pointer-events: none;
  transform: scale3d(1, 1.0001, 1);
}
.mat-form-field-ripple {
  position: absolute;
  left: 0;
  width: 100%;
  transform-origin: 50%;
  transform: scaleX(0.5);
  opacity: 0;
  transition: background-color 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
}
.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  opacity: 1;
  transform: none;
  transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 100ms cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-form-field-subscript-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.mat-form-field-subscript-wrapper .mat-icon,
.mat-form-field-label-wrapper .mat-icon {
  width: 1em;
  height: 1em;
  font-size: inherit;
  vertical-align: baseline;
}
.mat-form-field-hint-wrapper {
  display: flex;
}
.mat-form-field-hint-spacer {
  flex: 1 0 1em;
}
.mat-error {
  display: block;
}
.mat-form-field-control-wrapper {
  position: relative;
}
.mat-form-field-hint-end {
  order: 1;
}
.mat-form-field._mat-animation-noopable .mat-form-field-label,
.mat-form-field._mat-animation-noopable .mat-form-field-ripple {
  transition: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0.75em 0.75em 0 0.75em;
}
.cdk-high-contrast-active .mat-form-field-appearance-fill .mat-form-field-flex {
  outline: solid 1px;
}
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
}
.mat-form-field-appearance-fill .mat-form-field-ripple {
  bottom: 0;
  height: 2px;
}
.cdk-high-contrast-active
  .mat-form-field-appearance-fill
  .mat-form-field-ripple {
  height: 0;
  border-top: solid 2px;
}
.mat-form-field-appearance-fill:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  ~ .mat-form-field-underline
  .mat-form-field-ripple {
  opacity: 1;
  transform: none;
  transition: opacity 600ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-form-field-appearance-fill._mat-animation-noopable:not(
    .mat-form-field-disabled
  )
  .mat-form-field-flex:hover
  ~ .mat-form-field-underline
  .mat-form-field-ripple {
  transition: none;
}
.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0 1em;
}

.mat-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
}
.mat-input-element:-moz-ui-invalid {
  box-shadow: none;
}
.mat-input-element::-ms-clear,
.mat-input-element::-ms-reveal {
  display: none;
}
.mat-input-element,
.mat-input-element::-webkit-search-cancel-button,
.mat-input-element::-webkit-search-decoration,
.mat-input-element::-webkit-search-results-button,
.mat-input-element::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.mat-input-element::-webkit-contacts-auto-fill-button,
.mat-input-element::-webkit-caps-lock-indicator,
.mat-input-element::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}
.mat-input-element[type="date"],
.mat-input-element[type="datetime"],
.mat-input-element[type="datetime-local"],
.mat-input-element[type="month"],
.mat-input-element[type="week"],
.mat-input-element[type="time"] {
  line-height: 1;
}
.mat-input-element[type="date"]::after,
.mat-input-element[type="datetime"]::after,
.mat-input-element[type="datetime-local"]::after,
.mat-input-element[type="month"]::after,
.mat-input-element[type="week"]::after,
.mat-input-element[type="time"]::after {
  content: " ";
  white-space: pre;
  width: 1px;
}
.mat-input-element::-webkit-inner-spin-button,
.mat-input-element::-webkit-calendar-picker-indicator,
.mat-input-element::-webkit-clear-button {
  font-size: 0.75em;
}
.mat-input-element::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-input-element::placeholder:-ms-input-placeholder {
  -ms-user-select: text;
}
.mat-input-element::-moz-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-input-element::-moz-placeholder:-ms-input-placeholder {
  -ms-user-select: text;
}
.mat-input-element::-webkit-input-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-input-element::-webkit-input-placeholder:-ms-input-placeholder {
  -ms-user-select: text;
}
.mat-input-element:-ms-input-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-input-element:-ms-input-placeholder:-ms-input-placeholder {
  -ms-user-select: text;
}
.mat-form-field-hide-placeholder .mat-input-element::placeholder {
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
.mat-form-field-hide-placeholder .mat-input-element::-moz-placeholder {
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
.mat-form-field-hide-placeholder .mat-input-element::-webkit-input-placeholder {
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
.mat-form-field-hide-placeholder .mat-input-element:-ms-input-placeholder {
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
textarea.mat-input-element {
  resize: vertical;
  overflow: auto;
}
textarea.mat-input-element.cdk-textarea-autosize {
  resize: none;
}
textarea.mat-input-element {
  padding: 2px 0;
  margin: -2px 0;
}
select.mat-input-element {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  background-color: transparent;
  display: inline-flex;
  box-sizing: border-box;
  padding-top: 1em;
  top: -1em;
  margin-bottom: -1em;
}
select.mat-input-element::-ms-expand {
  display: none;
}
select.mat-input-element::-moz-focus-inner {
  border: 0;
}
select.mat-input-element:not(:disabled) {
  cursor: pointer;
}
select.mat-input-element::-ms-value {
  color: inherit;
  background: none;
}
.mat-focused .cdk-high-contrast-active select.mat-input-element::-ms-value {
  color: inherit;
}
.mat-form-field-type-mat-native-select .mat-form-field-infix::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2.5px;
  pointer-events: none;
}
[dir="rtl"]
  .mat-form-field-type-mat-native-select
  .mat-form-field-infix::after {
  right: auto;
  left: 0;
}
.mat-form-field-type-mat-native-select .mat-input-element {
  padding-right: 15px;
}
[dir="rtl"] .mat-form-field-type-mat-native-select .mat-input-element {
  padding-right: 0;
  padding-left: 15px;
}
.mat-form-field-type-mat-native-select .mat-form-field-label-wrapper {
  max-width: calc(100% - 10px);
}
.mat-form-field-type-mat-native-select.mat-form-field-appearance-outline
  .mat-form-field-infix::after {
  margin-top: -5px;
}
.mat-form-field-type-mat-native-select.mat-form-field-appearance-fill
  .mat-form-field-infix::after {
  margin-top: -10px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  transform: perspective(100px);
  -ms-transform: none;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
  width: 1em;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
  font: inherit;
  vertical-align: baseline;
}
.mat-form-field-appearance-legacy
  .mat-form-field-prefix
  .mat-icon-button
  .mat-icon,
.mat-form-field-appearance-legacy
  .mat-form-field-suffix
  .mat-icon-button
  .mat-icon {
  font-size: inherit;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px;
}
.cdk-high-contrast-active
  .mat-form-field-appearance-legacy
  .mat-form-field-underline {
  height: 0;
  border-top: solid 1px;
}
.mat-form-field-appearance-legacy .mat-form-field-ripple {
  top: 0;
  height: 2px;
  overflow: hidden;
}
.cdk-high-contrast-active
  .mat-form-field-appearance-legacy
  .mat-form-field-ripple {
  height: 0;
  border-top: solid 2px;
}
.mat-form-field-appearance-legacy.mat-form-field-disabled
  .mat-form-field-underline {
  background-position: 0;
  background-color: transparent;
}
.cdk-high-contrast-active
  .mat-form-field-appearance-legacy.mat-form-field-disabled
  .mat-form-field-underline {
  border-top-style: dotted;
  border-top-width: 2px;
}
.mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused)
  .mat-form-field-ripple {
  height: 1px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.25em 0;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
  margin-top: -0.25em;
  position: relative;
}
.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.25em;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  top: 0.25em;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: 1px solid currentColor;
  min-width: 5px;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 5px 0 0 5px;
  border-right-style: none;
}
[dir="rtl"] .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-right-style: solid;
  border-left-style: none;
  border-radius: 0 5px 5px 0;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  flex-grow: 1;
}
[dir="rtl"] .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-left-style: solid;
  border-right-style: none;
  border-radius: 5px 0 0 5px;
}
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-radius: 0.000001px;
  border: 1px solid currentColor;
  border-left-style: none;
  border-right-style: none;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-outline-gap {
  border-top-color: transparent;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  opacity: 0;
}
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-start,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-end,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-gap {
  border-width: 2px;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline,
.mat-form-field-appearance-outline.mat-form-field-invalid
  .mat-form-field-outline {
  opacity: 0;
  transition: opacity 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.mat-form-field-appearance-outline.mat-form-field-invalid
  .mat-form-field-outline-thick {
  opacity: 1;
}
.mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline {
  opacity: 0;
  transition: opacity 600ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline-thick {
  opacity: 1;
}
.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 1em;
}
.mat-form-field-appearance-outline._mat-animation-noopable:not(
    .mat-form-field-disabled
  )
  .mat-form-field-flex:hover
  ~ .mat-form-field-outline,
.mat-form-field-appearance-outline._mat-animation-noopable
  .mat-form-field-outline,
.mat-form-field-appearance-outline._mat-animation-noopable
  .mat-form-field-outline-start,
.mat-form-field-appearance-outline._mat-animation-noopable
  .mat-form-field-outline-end,
.mat-form-field-appearance-outline._mat-animation-noopable
  .mat-form-field-outline-gap {
  transition: none;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0.75em;
}
.mat-form-field-appearance-standard .mat-form-field-underline {
  height: 1px;
}
.cdk-high-contrast-active
  .mat-form-field-appearance-standard
  .mat-form-field-underline {
  height: 0;
  border-top: solid 1px;
}
.mat-form-field-appearance-standard .mat-form-field-ripple {
  bottom: 0;
  height: 2px;
}
.cdk-high-contrast-active
  .mat-form-field-appearance-standard
  .mat-form-field-ripple {
  height: 0;
  border-top: solid 2px;
}
.mat-form-field-appearance-standard.mat-form-field-disabled
  .mat-form-field-underline {
  background-position: 0;
  background-color: transparent;
}
.cdk-high-contrast-active
  .mat-form-field-appearance-standard.mat-form-field-disabled
  .mat-form-field-underline {
  border-top-style: dotted;
  border-top-width: 2px;
}
.mat-form-field-appearance-standard:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  ~ .mat-form-field-underline
  .mat-form-field-ripple {
  opacity: 1;
  transform: none;
  transition: opacity 600ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-form-field-appearance-standard._mat-animation-noopable:not(
    .mat-form-field-disabled
  )
  .mat-form-field-flex:hover
  ~ .mat-form-field-underline
  .mat-form-field-ripple {
  transition: none;
}

.mat-date-range-input {
  display: block;
  width: 100%;
}
.mat-date-range-input-container {
  display: flex;
  align-items: center;
}
.mat-date-range-input-separator {
  transition: opacity 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0 4px;
}
.mat-date-range-input-separator-hidden {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: none;
}
.mat-date-range-input-inner {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  text-align: inherit;
  -webkit-appearance: none;
  width: 100%;
}
.mat-date-range-input-inner::-ms-clear,
.mat-date-range-input-inner::-ms-reveal {
  display: none;
}
.mat-date-range-input-inner:-moz-ui-invalid {
  box-shadow: none;
}
.mat-date-range-input-inner::placeholder {
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-date-range-input-inner::-moz-placeholder {
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-date-range-input-inner::-webkit-input-placeholder {
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-date-range-input-inner:-ms-input-placeholder {
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-form-field-hide-placeholder .mat-date-range-input-inner::placeholder,
.mat-date-range-input-hide-placeholders
  .mat-date-range-input-inner::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
.mat-form-field-hide-placeholder .mat-date-range-input-inner::-moz-placeholder,
.mat-date-range-input-hide-placeholders
  .mat-date-range-input-inner::-moz-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
.mat-form-field-hide-placeholder
  .mat-date-range-input-inner::-webkit-input-placeholder,
.mat-date-range-input-hide-placeholders
  .mat-date-range-input-inner::-webkit-input-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
.mat-form-field-hide-placeholder
  .mat-date-range-input-inner:-ms-input-placeholder,
.mat-date-range-input-hide-placeholders
  .mat-date-range-input-inner:-ms-input-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent !important;
  -webkit-text-fill-color: transparent;
  transition: none;
}
.mat-date-range-input-mirror {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  visibility: hidden;
  white-space: nowrap;
  display: inline-block;
  min-width: 2px;
}
.mat-date-range-input-start-wrapper {
  position: relative;
  overflow: hidden;
  max-width: calc(50% - 4px);
}
.mat-date-range-input-start-wrapper .mat-date-range-input-inner {
  position: absolute;
  top: 0;
  left: 0;
}
.mat-date-range-input-end-wrapper {
  flex-grow: 1;
  max-width: calc(50% - 4px);
}
.mat-form-field-type-mat-date-range-input .mat-form-field-infix {
  width: 200px;
}

.mat-form-field-appearance-legacy
  .mat-form-field-prefix
  .mat-datepicker-toggle-default-icon,
.mat-form-field-appearance-legacy
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon {
  width: 1em;
}
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-prefix
  .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-prefix
  .mat-icon-button
  .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon-button
  .mat-datepicker-toggle-default-icon {
  margin: auto;
}
.cdk-high-contrast-active .mat-datepicker-toggle-default-icon {
  color: CanvasText;
}

.mat-select {
  display: inline-block;
  width: 100%;
  outline: none;
}
.mat-select-trigger {
  display: inline-table;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
.mat-select-disabled .mat-select-trigger {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-select-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mat-select-arrow-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(-50%);
}
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(-25%);
}
.mat-form-field-appearance-standard.mat-form-field-has-label
  .mat-select:not(.mat-select-empty)
  .mat-select-arrow-wrapper {
  transform: translateY(-50%);
}
.mat-form-field-appearance-standard
  .mat-select.mat-select-empty
  .mat-select-arrow-wrapper {
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
._mat-animation-noopable.mat-form-field-appearance-standard
  .mat-select.mat-select-empty
  .mat-select-arrow-wrapper {
  transition: none;
}
.mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}
.mat-select-panel-wrap {
  flex-basis: 100%;
}
.mat-select-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 256px;
  min-width: 100%;
  border-radius: 4px;
  outline: 0;
}
.cdk-high-contrast-active .mat-select-panel {
  outline: solid 1px;
}
.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  font-size: inherit;
  line-height: 3em;
  height: 3em;
}
.mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-form-field-flex {
  cursor: pointer;
}
.mat-form-field-type-mat-select .mat-form-field-label {
  width: calc(100% - 18px);
}
.mat-select-placeholder {
  transition: color 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
._mat-animation-noopable .mat-select-placeholder {
  transition: none;
}
.mat-form-field-hide-placeholder .mat-select-placeholder {
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: none;
  display: block;
}
.mat-select-min-line:empty::before {
  content: " ";
  white-space: pre;
  width: 1px;
}

.mat-button .mat-button-focus-overlay,
.mat-icon-button .mat-button-focus-overlay {
  opacity: 0;
}
.mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay,
.mat-stroked-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
  opacity: 0.04;
}
@media (hover: none) {
  .mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay,
  .mat-stroked-button:hover:not(.mat-button-disabled)
    .mat-button-focus-overlay {
    opacity: 0;
  }
}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}
.mat-button::-moz-focus-inner,
.mat-icon-button::-moz-focus-inner,
.mat-stroked-button::-moz-focus-inner,
.mat-flat-button::-moz-focus-inner {
  border: 0;
}
.mat-button.mat-button-disabled,
.mat-icon-button.mat-button-disabled,
.mat-stroked-button.mat-button-disabled,
.mat-flat-button.mat-button-disabled {
  cursor: default;
}
.mat-button.cdk-keyboard-focused .mat-button-focus-overlay,
.mat-button.cdk-program-focused .mat-button-focus-overlay,
.mat-icon-button.cdk-keyboard-focused .mat-button-focus-overlay,
.mat-icon-button.cdk-program-focused .mat-button-focus-overlay,
.mat-stroked-button.cdk-keyboard-focused .mat-button-focus-overlay,
.mat-stroked-button.cdk-program-focused .mat-button-focus-overlay,
.mat-flat-button.cdk-keyboard-focused .mat-button-focus-overlay,
.mat-flat-button.cdk-program-focused .mat-button-focus-overlay {
  opacity: 0.12;
}
.mat-button::-moz-focus-inner,
.mat-icon-button::-moz-focus-inner,
.mat-stroked-button::-moz-focus-inner,
.mat-flat-button::-moz-focus-inner {
  border: 0;
}
.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mat-raised-button::-moz-focus-inner {
  border: 0;
}
.mat-raised-button.mat-button-disabled {
  cursor: default;
}
.mat-raised-button.cdk-keyboard-focused .mat-button-focus-overlay,
.mat-raised-button.cdk-program-focused .mat-button-focus-overlay {
  opacity: 0.12;
}
.mat-raised-button::-moz-focus-inner {
  border: 0;
}
._mat-animation-noopable.mat-raised-button {
  transition: none;
  animation: none;
}
.mat-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}
.mat-stroked-button .mat-button-ripple.mat-ripple,
.mat-stroked-button .mat-button-focus-overlay {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
}
.mat-fab {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  flex-shrink: 0;
}
.mat-fab::-moz-focus-inner {
  border: 0;
}
.mat-fab.mat-button-disabled {
  cursor: default;
}
.mat-fab.cdk-keyboard-focused .mat-button-focus-overlay,
.mat-fab.cdk-program-focused .mat-button-focus-overlay {
  opacity: 0.12;
}
.mat-fab::-moz-focus-inner {
  border: 0;
}
._mat-animation-noopable.mat-fab {
  transition: none;
  animation: none;
}
.mat-fab .mat-button-wrapper {
  padding: 16px 0;
  display: inline-block;
  line-height: 24px;
}
.mat-mini-fab {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  flex-shrink: 0;
}
.mat-mini-fab::-moz-focus-inner {
  border: 0;
}
.mat-mini-fab.mat-button-disabled {
  cursor: default;
}
.mat-mini-fab.cdk-keyboard-focused .mat-button-focus-overlay,
.mat-mini-fab.cdk-program-focused .mat-button-focus-overlay {
  opacity: 0.12;
}
.mat-mini-fab::-moz-focus-inner {
  border: 0;
}
._mat-animation-noopable.mat-mini-fab {
  transition: none;
  animation: none;
}
.mat-mini-fab .mat-button-wrapper {
  padding: 8px 0;
  display: inline-block;
  line-height: 24px;
}
.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}
.mat-icon-button i,
.mat-icon-button .mat-icon {
  line-height: 24px;
}
.mat-button-ripple.mat-ripple,
.mat-button-focus-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
}
.mat-button-ripple.mat-ripple:not(:empty) {
  transform: translateZ(0);
}
.mat-button-focus-overlay {
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),
    background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}
._mat-animation-noopable .mat-button-focus-overlay {
  transition: none;
}
.mat-button-ripple-round {
  border-radius: 50%;
  z-index: 1;
}
.mat-button .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > * {
  vertical-align: middle;
}
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-prefix
  .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  width: 2.5em;
  height: 2.5em;
}
.cdk-high-contrast-active .mat-button,
.cdk-high-contrast-active .mat-flat-button,
.cdk-high-contrast-active .mat-raised-button,
.cdk-high-contrast-active .mat-icon-button,
.cdk-high-contrast-active .mat-fab,
.cdk-high-contrast-active .mat-mini-fab {
  outline: solid 1px;
}
.cdk-high-contrast-active .mat-button-base.cdk-keyboard-focused,
.cdk-high-contrast-active .mat-button-base.cdk-program-focused {
  outline: solid 3px;
}

.fx-section--why-trade-with-fxpro[_ngcontent-sc119]
  .trades-holder[_ngcontent-sc119]
  > div[_ngcontent-sc119] {
  margin-bottom: 1.875rem;
}
@media (min-width: 1024px) {
  .fx-section--why-trade-with-fxpro[_ngcontent-sc119]
    .trades-holder[_ngcontent-sc119]
    > div[_ngcontent-sc119] {
    margin-bottom: 1.875rem;
  }
}
.fx-section--why-trade-with-fxpro[_ngcontent-sc119] .card[_ngcontent-sc119] {
  display: block;
  border: 1px solid #3031351a;
  border-radius: 6px;
  padding: 2rem;
  height: 100%;
  color: #636e72;
  transition: all 0.4s;
}
@media (min-width: 1024px) {
  .fx-section--why-trade-with-fxpro[_ngcontent-sc119] .card[_ngcontent-sc119] {
    padding: 3rem 4rem 20px;
    min-height: 260px;
  }
}
.fx-section--why-trade-with-fxpro[_ngcontent-sc119]
  .card[_ngcontent-sc119]:hover {
  background-color: #303135;
  border: 1px solid #3031351a;
}
.fx-section--why-trade-with-fxpro[_ngcontent-sc119]
  .card[_ngcontent-sc119]:hover
  h3[_ngcontent-sc119],
.fx-section--why-trade-with-fxpro[_ngcontent-sc119]
  .card[_ngcontent-sc119]:hover
  p[_ngcontent-sc119] {
  color: #fff;
}
.fx-section--why-trade-with-fxpro[_ngcontent-sc119]
  .card[_ngcontent-sc119]
  h3[_ngcontent-sc119] {
  color: #2d3436;
  transition: all 0.4s;
  margin-bottom: 0.5em;
}
.fx-section--why-trade-with-fxpro[_ngcontent-sc119]
  .card[_ngcontent-sc119]
  p[_ngcontent-sc119] {
  margin: 0;
  color: #303135;
}

.mat-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
.mat-option[disabled] {
  cursor: default;
}
[dir="rtl"] .mat-option {
  text-align: right;
}
.mat-option .mat-icon {
  margin-right: 16px;
  vertical-align: middle;
}
.mat-option .mat-icon svg {
  vertical-align: top;
}
[dir="rtl"] .mat-option .mat-icon {
  margin-left: 16px;
  margin-right: 0;
}
.mat-option[aria-disabled="true"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 32px;
}
[dir="rtl"] .mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 16px;
  padding-right: 32px;
}
.cdk-high-contrast-active .mat-option {
  margin: 0 1px;
}
.cdk-high-contrast-active .mat-option.mat-active {
  border: solid 1px currentColor;
  margin: 0;
}
.cdk-high-contrast-active .mat-option[aria-disabled="true"] {
  opacity: 0.5;
}
.mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mat-option .mat-option-ripple {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}
.mat-option-pseudo-checkbox {
  margin-right: 8px;
}
[dir="rtl"] .mat-option-pseudo-checkbox {
  margin-left: 8px;
  margin-right: 0;
}

.mat-pseudo-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1),
    background-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
}
.mat-pseudo-checkbox::after {
  position: absolute;
  opacity: 0;
  content: "";
  border-bottom: 2px solid currentColor;
  transition: opacity 90ms cubic-bezier(0, 0, 0.2, 0.1);
}
.mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  border-color: transparent;
}
._mat-animation-noopable.mat-pseudo-checkbox {
  transition: none;
  animation: none;
}
._mat-animation-noopable.mat-pseudo-checkbox::after {
  transition: none;
}
.mat-pseudo-checkbox-disabled {
  cursor: default;
}
.mat-pseudo-checkbox-indeterminate::after {
  top: 5px;
  left: 1px;
  width: 10px;
  opacity: 1;
  border-radius: 2px;
}
.mat-pseudo-checkbox-checked::after {
  top: 2.4px;
  left: 1px;
  width: 8px;
  height: 3px;
  border-left: 2px solid currentColor;
  transform: rotate(-45deg);
  opacity: 1;
  box-sizing: content-box;
}

[_nghost-sc386] {
  display: inline-block;
}

.mat-progress-spinner {
  display: block;
  position: relative;
  overflow: hidden;
}
.mat-progress-spinner svg {
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  left: 0;
  transform-origin: center;
  overflow: visible;
}
.mat-progress-spinner circle {
  fill: transparent;
  transform-origin: center;
  transition: stroke-dashoffset 225ms linear;
}
._mat-animation-noopable.mat-progress-spinner circle {
  transition: none;
  animation: none;
}
.cdk-high-contrast-active .mat-progress-spinner circle {
  stroke: currentColor;
  stroke: CanvasText;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"]
  svg {
  animation: mat-progress-spinner-linear-rotate 2000ms linear infinite;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"]
  svg {
  transition: none;
  animation: none;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"]
  circle {
  transition-property: stroke;
  animation-duration: 4000ms;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-iteration-count: infinite;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"]
  circle {
  transition: none;
  animation: none;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"]
  svg {
  animation: mat-progress-spinner-stroke-rotate-fallback 10000ms
    cubic-bezier(0.87, 0.03, 0.33, 1) infinite;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"]
  svg {
  transition: none;
  animation: none;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"]
  circle {
  transition-property: stroke;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"]
  circle {
  transition: none;
  animation: none;
}
@keyframes mat-progress-spinner-linear-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mat-progress-spinner-stroke-rotate-100 {
  0% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(0);
  }
  12.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(0);
  }
  12.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25.0001% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(270deg);
  }
  37.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(270deg);
  }
  37.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50.0001% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(180deg);
  }
  62.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(180deg);
  }
  62.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(90deg);
  }
  87.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(90deg);
  }
  87.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
  100% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
}
@keyframes mat-progress-spinner-stroke-rotate-fallback {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1170deg);
  }
  50% {
    transform: rotate(2340deg);
  }
  75% {
    transform: rotate(3510deg);
  }
  100% {
    transform: rotate(4680deg);
  }
}

[_nghost-sc387] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffffd6;
  width: 100%;
}
